[Unit]
Description = Mount personal document storage volume

[Mount]
What=moria.localdomain:/mnt/zpool0/Document/Sujoy
Where=/mnt/personal
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
